---
import Nav from './Nav.astro'
---

<header class="py-3 text-gray-100">
	<a
		class="unset absolute -top-[100rem] left-[50%] z-10 translate-x-[-50%] px-8 py-2 focus:top-[initial]"
		href="#main"
	>
		Skip to content
	</a>
	<div class="flex justify-center"><Nav /></div>
</header>
<style>
	header {
		grid-area: header;
		display: grid;
		align-items: center;
		grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(0, max-content);
	}
</style>
